@media(min-width:1200px) and (max-width:1399.98px){
    .content h1 {
        font-size: 48px;
    }
}

@media(min-width:992px) and (max-width:1199.98px){
    .content h3 {
        font-size: 30px;
    }
    .content h1 {
        font-size: 40px;
    }
    #blog .card-title {
        line-height: 26px;
    }
    #footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

@media(min-width:768px) and (max-width:991.98px){
    .navbar {
        padding-top: 10px;
    }
    .navbar-toggler i {
        color: #fff;
    }
    .navbar-toggler:focus {
        box-shadow:none;
    }
    .navbar-brand img {
        width: 120px;
    }
    .navbar-nav {
        background: #998675;
        text-align: center;
        padding:20px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
    #video {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #blog .card-title {
        line-height: 26px;
    }
    .copyright-left p {
        line-height: 60px;
        text-align: center;
    }
    .copyright-right p {
        line-height: 60px;
        text-align: center;
    }
    #footer {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

@media(min-width:576px) and (max-width:767.98px){
    .navbar {
        padding-top: 10px;
    }
    .navbar-toggler i {
        color: #fff;
    }
    .navbar-toggler:focus {
        box-shadow:none;
    }
    .navbar-brand img {
        width: 120px;
    }
    .navbar-nav {
        background: #998675;
        text-align: center;
        padding:20px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
    .content h3 {
        font-size: 30px;
    }
    .content h1 {
        font-size: 40px;
    }
    #banner {
        height: 70vh;
    }
    .banner-text {
        height: 70vh;
    }
    #service {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .nav-tabs .nav-link {
        padding: 10px 7px;
    }
    .card-title {
        font-size: 16px;
    }
    #video {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .counter-item {
        margin-bottom: 40px;
    }
    #counter {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #blog .card-title {
        line-height: 26px;
    }
    .copyright-left p {
        line-height: 60px;
        text-align: center;
    }
    .copyright-right p {
        line-height: 60px;
        text-align: center;
    }
    #footer {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
@media(max-width:575.98px){
    .navbar {
        padding-top: 10px;
    }
    .navbar-toggler i {
        color: #fff;
    }
    .navbar-toggler:focus {
        box-shadow:none;
    }
    .navbar-brand img {
        width: 120px;
    }
    .navbar-nav {
        background: #998675;
        text-align: center;
        padding:20px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
    .content h3 {
        font-size: 23px;
    }
    .content h1 {
        font-size: 28px;
        line-height: 34px;
    }
    #banner {
        height: 70vh;
    }
    .banner-text {
        height: 70vh;
    }
    #service {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .head h2 {
        font-size: 24px;
    }
    .head p {
        padding: 0 0;
    }
    .nav-tabs .nav-link {
        margin-bottom: 10px;
    }
    #video {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .video-text h3 {
        padding-top: 44px;
        line-height: 40px;
    }
    .counter-item {
        margin-bottom: 40px;
    }
    #counter {
        padding-bottom: 45px;
    }
    #blog {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    #blog .card-title {
        line-height: 30px;
    }
    #footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .mr-10 {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .copyright-left p {
        line-height: 40px;
    }
    .copyright-right {
        text-align: left!important;
    }
    .copyright-right p {
        line-height: 40px;
    }
}
@media(min-width:500px) and (max-width:575px){
    .service-item p {
        padding: 0 60px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .nav-tabs .nav-link {
        padding: 10px 10px;
    }
}