*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 0.8;
}
.head h2{
    font-size: 30px;
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 14px;
}
.head p{
    font-size: 16px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 28px;
    padding: 0 20px;
}
/*======= Navbar part goes here =======*/
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-left: 20px;
    transition: all linear .3s;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    width: 18px;
    height: 43px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background:url(../images/shape.png);
    opacity: 0;
    transition: all linear .5s;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #c7b299;
}
.navbar {
    padding-top: 35px;
    padding-bottom: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all linear .5s;
}
.navbg {
    background-color: #555555;
    animation: sticky 1s;
    padding-top: 15px;
    padding-bottom: 15px;
}
@keyframes sticky{
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #c7b299;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    opacity: 1;
    top: -50px;
}
.navbar-expand-lg .navbar-nav .nav-link.active:after{
    opacity: 1;
    top: -50px;
}
/*======= banner part goes here =======*/
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0 100%);
}
#banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(17, 17, 17, 0.7);
    top: 0;
    left: 0;
}
.banner-main {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text {
    height: 100vh;
}
.content h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    color: #fff;
    font-weight: 800;
    padding-bottom: 30px;
}
.content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 47px;
}
.content a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #998675;
    padding:20px 38px;
    border-radius: 3px;
    border-bottom: 3px solid #736357;
}
/*======= Service part goes here =======*/
#service {
    padding-top: 80px;
}
.service-item i {
    font-size: 50px;
    color: #555555;
    transition: all linear .3s;
}
.service-item h3 {
    font-size: 22px;
    color: #555555;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    padding-top: 18px;
    transition: all linear .3s;
}
.service-item p {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    padding-top: 10px;
    position: relative;
    padding-bottom: 30px;
}
.service-item p:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    transition: all linear .3s;
}
.service-item:hover i{
    color: #c7b299;
}
.service-item:hover h3{
    color: #c7b299;
}
.service-item:hover p:before{
    background-color: #c7b299;
}
/*======= Project part goes here =======*/
.nav-tabs .nav-link {
    margin: 0 5px;
    padding:10px 17px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #998675;
    border-radius: 3px;
    color: #fff;
}
.nav-tabs .all-btn {
    padding:10px 26px;
}
.card {
    background-color: #fbfaf8;
    margin-bottom: 24px;
}
.card-body {
	padding: 30px 30px;
    transition: all linear .3s;
}
.card-title {
    font-size: 20px;
    color: #c7b299;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.card-text {
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 8px;
}
.card-img {
    position: relative;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    opacity: 0;
    transform: scale(0);
    transition: all linear .3s;
}
.card-icon i {
    font-size: 26px;
    color: #fff;
    margin: 0 15px;
    transition: all linear .3s;
    cursor: pointer;
}
#project .card-icon i:hover {
    color: #c7b299;
}
#project .card:hover .card-overlay {
    opacity: 1;
    transform: scale(1);
}
#project .card:hover .card-body {
    background-color: #362f2d;
}
#project .card:hover .card-body .card-title {
    color: #fff;
}
#project .card:hover .card-body .card-text {
    color: #c7b299;
}
.load-btn {
    padding-top: 40px;
}
.load-btn a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #998675;
    padding:20px 38px;
    border-radius: 3px;
    border-bottom: 3px solid #736357;
}
#project {
    padding-top:100px;
}
/*======= video part goes here =======*/
#video {
    background-image: url(../images/video-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 223px;
    padding-bottom: 252px;
    margin-top: 100px;
    clip-path: polygon(0 16%, 100% 0%, 100% 83%, 0% 100%);
}
.video-text i {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 100px;
    font-size: 70px;
    color: #fff;
}
.video-text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 44px;
}
.video-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 28px;
    padding-top: 13px;
}
.play {
    animation: ghuro 1s infinite;
}
@keyframes ghuro{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*======= counter part goes here =======*/
#counter {
    background: linear-gradient(to right, #211b19, #4e3427);
    padding-top: 68px;
    padding-bottom: 90px;
}
.counter-item i {
    color: #fff;
    font-size: 45px;
}
.counter-item h3 {
    color: #fff;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 28px;
    padding-bottom: 21px;
}
.counter-item h5 {
    color: #c7b299;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
/*======= Blog part goes here =======*/
#blog {
    padding-top: 92px;
    padding-bottom: 90px;
}
#blog .head {
    padding-bottom: 18px;
}
#blog .card-title {
    color: #555;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
#blog .card-text {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
}
#blog .card a {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform:capitalize;
}
#blog .card {
    background-color: #fff;
    border-color: #f8f8f8;
    position: relative;
    margin: 0 12px;
}
#blog .card a i {
    margin-left: 6px;
}
.date {
    width: 50px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
}
.day {
    width: 50px;
    height: 35px;
    background-color: #353535;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 35px;
}
.month {
    width: 50px;
    height: 25px;
    background-color: #252525;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}
.card-blog-img {
    position: relative;
}
.card-blog-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    opacity: 0;
}
.slick-center .card .card-blog-over {
    opacity: 1;
}
.slick-center .card .day {
    background-color: #c7b299;
}
.slick-center .card .month {
    background-color: #a48d72;
}
.slick-center .card .card-body {
    background-color: #362f2d;
}
#blog .slick-center .card-title {
    color: #c7b299;
}
#blog .slick-center .card-text {
    color: #fff;
}
/*======= Footer part goes here =======*/
#footer {
    background-color: #191919;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-logo {
    padding-bottom: 25px;
}
.footer-item p {
    font-size: 14px;
    color: #555;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}
.footer-item a {
    font-size: 14px;
    color: #d1d1d1;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.footer-item span {
    font-size: 12px;
    color: #363636;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding-bottom: 3px;
}
.footer-item h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    padding-bottom: 17px;
    padding-top: 22px;
}
.post {
    border-bottom: 1px solid #252525;
    padding: 20px 0;
}
.post:last-child {
    border-bottom: none;
}

.post p {
    margin-bottom: 0;
}
.post:hover span {
    color: #fff;
}
.post:hover p {
    color: #c7b299;
}
.post b {
    color: #00bff3;
}
.mr-10 {
    margin-right: 10px;
    margin-bottom: 10px;
}
#copyright {
    background-color: #111;
}
.copyright-left p {
    line-height:110px;
    color: #555555;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.copyright-left p a {
    padding: 0 15px;
    border-left: 1px solid #252525;
    color: #555555;
}
.copyright-left p span {
   color: #959595;
   padding-right: 10px;
}
.copyright-left p a:hover {
    color: #a48d72;
}

.copyright-right p {
    line-height:110px;
    color: #555555;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.copyright-right p a {
    padding: 0 15px;
    border-right: 1px solid #252525;
    color: #959595;
}
.copyright-right p a:last-child {
    border-right: 0;
}
.copyright-right p a:first-child {
    padding-left: 0;
}
.copyright-right p span {
   color: #555;
   padding-left: 10px;
}
.copyright-right p a:hover {
    color: #a48d72;
}


/*==== mixitup =======*/

.buttons button {
    margin: 0 5px;
    padding:10px 17px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.buttons button{
    background-color: #998675;
    border-radius: 3px;
    color: #fff;
}
